extends layout

block content
  section.hero.is-primary.is-medium.is-bold
    .hero-body
      .container.has-text-centered
        h1.title Welcome to #{title}
        a.button.is-primary.is-inverted.is-outlined.become-a-mentor(href="/mentors/new") Become a Mentor
        a.button.is-primary.is-inverted.is-outlined.search-for-a-mentor(href="/mentors") Search for a Mentor
