extends layout

block content
  section.section
    .container
    h1.title.is-2 Your Invites
    .tile.is-ancestor.wrap-line
      each invite in invites
        .tile.is-parent.column.is-one-third
          .card.tile.is-child
            header.card-header
              p.card-header-title=invite.mentee.name
              .card-content
                .content
                  p This is the message from the mentee
                  p Active: #{invite.active}
            footer.card-footer
              a.card-footer-item(href=`/mentors/invites/accept/${invite._id}`)
                span.icon
                  i.fa.fa-thumbs-up.invite-icon
                span Accept
              a.card-footer-item(href=`/mentors/invites/decline/${invite._id}`)
                span.icon
                  i.fa.fa-thumbs-down.invite-icon
                  span Decline