extends layout

block content
  .section
    .container
      h1= itemToGet.text
    .container
      p= itemToGet.description
    .container 
      a(href=`${itemToGet.linkToResource}`)= itemToGet.linkToResource
  if youtubeVideoIframe
    .section
      .container
      p !{youtubeVideoIframe}
