extends layout

block content
  .section
    .container
      h1= itemToGet.text
    .container
      p= itemToGet.description
  unless !youtubeVideoIframe
    .section
      .container
      p !{youtubeVideoIframe}
