doctype html
html
  head
    title= title
    meta(name='viewport', content='width=device-width, initial-scale=1, user=scalable=no')
    link(rel='stylesheet', href='https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css')
    link(rel='stylesheet', href='/stylesheets/style.css')
    script(src='/scripts/scripts.js')

  body
    block header
      .container
        .navbar.is-transparent
          .navbar-brand
            a.navbar-item(href='/')
              img.navbar-logo(src='/images/ductu.png')
            .navbar-burger.burger(data-target='navMenu')
              span
              span
              span
          #navMenu.navbar-menu
            .navbar-start
              a.navbar-item Home
              .navbar-item.has-dropdown.is-hoverable
                a.navbar-link(href='/lists') Lists
                .navbar-dropdown.is-boxed
                  a.navbar-item(href='/lists/new') Create List
              .navbar-item.has-dropdown.is-hoverable
                a.navbar-link Mentorships
                .navbar-dropdown.is-boxed
                  a.navbar-item(href='/mentors/mentees') Your Mentees
                  a.navbar-item(href='/mentors/my') Your Mentors
                  a.navbar-item(href='/mentors/invites') Pending Invites
            .navbar-end
              .navbar-item
                if user
                  a#signout.button.is-primary(href='/sessions/signout')
                    span.icon
                      i.fa.fa-sign-out
                    span Sign Out
                else  
                  a#signin.button.is-primary(href='/sessions/signin')
                    span.icon
                      i.fa.fa-user
                    span Sign In
    block messages
      if Object.keys(locals.flashes).length > 0
        .container
          .columns
            .column.is-half.is-offset-3
              if locals.flashes
                .inner
                .flash-messages
                  - const categories = Object.keys(locals.flashes)
                  each category in categories
                    each message in flashes[category]
                      .flash(class=`flash--${category}`)
                        p.flash__text!= message
                        button.flash__remove(onClick="this.parentElement.remove()") &times;
    block content
