doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
  body
    block header
      nav
        ul
          li: a(href='/lists/new') Create List
    block content
