extends layout

block content
  .container
    h1= title
    .columns
      .column.is-half
        form(method='POST')
          .field
            label.label(for="name") Name
            .control
              input.input(type="text" name="name")
          .field
            .control
              button.button.is-primary(type="submit") Create