extends layout

block content
  section.section
    .container
      h1.title.is-2=name
      .columns
        .column.is-half
          if items.length > 0
            p Your list items:
            .content
              ul
              each item in items
                li
                  a(href=`/items/edit?item=${item._id}&status=${item.status}` class=item.status)=item.text
          form(method='POST')
            .field
              label.label(for="text") Item
              .control
                input.input(type="text" name="text")
            .field
              label.label(for="mentee") Mentee
              .control
                input.input(type="text" name="mentee")
            .field
              .control
              button.button.is-primary(type="submit") Add Item
