extends layout

block content
  section.section
    .container
      h1.title.is-3= title
      .columns
        .column.is-half
          form(method='POST')
            .field
              label.label(for="name") Name
              .control
                input.input(type="text" name="name")
            .field
              label.label(for="mentee") Mentee Name
              .control
                input.input(type="text" name="mentee")
            .field
              .control
                button.button.is-primary(type="submit") Create
