$primary-blue: #58A5F0
$primary: $primary-blue

@import "../../node_modules/bulma/bulma.sass"
@import "partials/flashes"

html
  height: 100%

body
  min-height: 100%
  background-color: #f3f3f3

.navbar-container
  background-color: #fff
  max-width: 100%
  width: 100%

.section
  background-color: transparent

.none-display-element
  display: none

.wrap-line
  flex-wrap: wrap

.create-list-info
  display: flex
  flex-direction: column
  justify-content: center

.complete
  text-decoration: line-through

p.card-header-title.author
  text-align: right

.modal-card-head
  background: #58A5F0
  p
    color: #fff

.modal-card-body
  border-bottom-left-radius: 5px
  border-bottom-right-radius: 5px

.feedback-text
  justify-content: left

#overall-feedback-popup .modal-card-head
  background: #23D160
  p
    color: #fff
