extends ../layout

block content

  form.form(action="/users" method="POST")
    h2 Sign Up
    label(for="name") Name
    input(type="text" name="name")
    label(for="email") Email
    input(type="text" name="email")
    label(for="password") Password
    input(type="password" name="password")
    label(for="password-confirm") Confirm Password
    input(type="password" name="password-confirm")
    input(type="submit" value="Sign Up")
